body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 400px;
    height: 600px;
    background: salmon;
    position: relative;
    font-size: 80px;
    text-align: center;
    overflow: hidden;
}

.player {
    width: 60px;
    height: 60px;
    background: blue;
    position: absolute;
}

.platform {
    height: 15px;
    background-color: black;
    position: absolute;
}

.platform1 {
    width: 85px;
}

.platform2 {
    width: 20px;
}

.heading {
    font-size: 30px;
}

.instruction {
    font-size: 16px;
}