body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: 'PT sans';
}

.grid {
    width: 400px;
    height: 600px;
    background: salmon;
    position: relative;
    font-size: 80px;
    text-align: center;
    overflow: hidden;
    background-image: url('/img/playingfield.png');
}

.player {
    width: 60px;
    height: 84px;
    position: absolute;
    background-image: url('/img/jumpman.svg');
}

.platform {
    height: 15px;
    position: absolute;
}

.platform1 {
    width: 85px;
    background-image: url('/img/Platform.svg');
}

.platform2 {
    width: 20px;
    background-image: url('/img/Platformsmall.svg');
}

.heading {
    font-size: 30px;
}

.instruction {
    font-size: 16px;
}

.startPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lost-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lost-page__heading {
    font-size: 46px;
}

.lost-page__text {
    font-size: 30px;
}

.startPage__input {
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    text-align: center;
}

.startPage__buttons {
    width: 400px;
    display: flex;
    flex-direction: column;
    width: 9rem;
}

.startPage__button {
    padding: 1rem;
    border: none;
    background-color: olive;
    font-family: 'PT sans';
    font-size: 16px;
}

.startPage__button:hover {
    background-color: black;
    color: white;
}

.startPage__button:nth-child(1) {
    border-radius: 2rem 2rem 0 0;
}
.startPage__button:nth-last-child(1) {
    border-radius: 0 0 2rem 2rem;
}

.startPage__man {
    margin-top: 1rem;
    width: 150px;
}

.highscores {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    position: absolute;
    width: 300px;
    height: 470px;
    top: 30px;
}

.highscores__heading {
    padding-top: 0;
    font-size: 2rem;
}

.highscore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highscore__name {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
}

.highscore__score {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
}

.highscores__btn {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(174, 136, 136);
    font-family: 'PT sans';
    font-size: 16px;
}
